@media (max-width: 1200px) { 

}
@media (max-width: 1024px) { 
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    header#header .toggle-menu {
        display: flex!important;
        position: relative;
        margin-right: 20px;
        left: 0;
    }
    
    
    header#header .logo {
        width: auto;
        min-width: auto;
        margin: 0;
        text-align: center;
    }
    header#header .container {
        justify-content: flex-start;
    }
    header#header .logo img{
        height: 50px;
    }
    header#header, header#header.active{
        padding: 0;
    }
    header#header.active .container,
    header#header .container{
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header#header.active .wrap-header-main .header-top{display: block;}
    
    body.active-menu{
        overflow: hidden;
        position: relative;
    }
    body.active-menu::before{
        content: "";
        background-color: rgba(0, 0, 0, .45);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 29;
    }
    
    .wrap-video-youtube iframe{
        width: 100%;
    }

    header#header .wrap-menu {
        position: fixed;
        left: 0;
        top: 100px;
        height: calc(100vh - 100px);
        width: 300px;
        background: #151949;
        transform: translateX(-300px);
        transition: all .3s;
    }
    header#header .wrap-menu.active {
        transform: translateX(0);
        transition: all .3s;
    }
    header#header .wrap-menu .box-menu{
        flex-direction: column;
        padding-top: 20px;
    }
    header#header .wrap-menu .box-menu li{
        width: 100%;
    }
    header#header .wrap-menu li a {
        font-size: 16px;
        padding: 10px 25px;
    }
    .slider-solution.owl-theme .owl-nav{}
    .slider-solution.owl-theme .owl-nav button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .slider-solution.owl-theme .owl-nav button i{
        font-size: 40px;
        color: #fff;
    }
    #custommer .slider-solution.owl-theme .owl-nav button i{
        font-size: 40px;
        color: #151949;
    }
    .slider-solution.owl-theme .owl-nav button.owl-prev{
        left: -20px;
    }
    .slider-solution.owl-theme .owl-nav button.owl-next{
        right: -20px;
    }
    
    section#question .list-question [class*="col-"]{
        padding-bottom: 20px;
    }
    section#question .form-youtube{
        flex-direction: column-reverse;
    }
    section#question .form-youtube .box-content-form-youtube{
        text-align: center;
    }
    section#question .form-youtube .box-content-form-youtube .box-title {
        padding-right: 0;
        width: 100%;
    }
    section#question .form-youtube .active-video {
        margin:  0 auto;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 991px) { 
    #benefits .box-tab-benefits .title-res{
        display: block!important;
        text-align: center;
        margin-bottom: 5px;
    }
    #benefits .box-btn-register .title-res{
        display: none;
    }
    #benefits .box-tab-benefits .title-res span I{
        color: #FFF;
    }
    #benefits .box-tab-benefits .title-res .title{
        font-size: 30px;
        font-weight: 300;
        color: #FFF;
    }
    #benefits .box-btn-register .btn {
        height: 45px;
        margin-top: 45px;
    }
    #benefits .box-tab-benefits .box-title{
        text-align: center;
    }
    #form-register .box-text-right .img {
        width: 250px;
    }
    #form-register .wrap-register .wrap-form {
        margin-bottom: 0;
    }
    #form-register .wrap-register .wrap-form .btn-submit {
        position: relative;
        z-index: 2;
    }
    #form-register .wrap-register .wrap-form .box-submit{
        padding-top: 40px;
    }
    #form-register .box-text-right .box-content {
        padding: 14px 0;
        margin-bottom: 0;
        margin-left: 0;
        background: transparent;
        max-width: 300px;
    }
    #form-register .wrap-register .wrap-form .form-group {
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
    }
    #form-register .box-text-right {
        justify-content: flex-start;
    }
    #form-register .box-text-right .box-content p {
        color: #151949;
    }
    .modal-dialog {
        margin-left: 0;
    }
}
@media (max-width: 768px) { 
    header#header .logo img{
        height: 44px;
    }
    header#header .toggle-menu{
        left: 10px;
        margin-right: 30px;
    }
    #benefits .box-tab-benefits .carousel-inner .carousel-item .carousel-caption{
        display: block!important;
    }
    #banner-main .owl-carousel .owl-nav button.owl-prev {
        left: 0!important;
    }
    #banner-main .owl-carousel .owl-nav button.owl-next {
        right: 0!important;
    }
    #custommer {
        padding-bottom: 100px;
    }
}
@media (max-width: 640px) {
    #form-register .wrap-register .gform_footer input[type="submit"]{
        max-width: max-content;
        line-height: 1;
        min-height: unset;
    }
}
@media (max-width: 540px) {
    header#header .logo img {
        height: 32px;
    }
    #banner-main{
        /*padding: 0 33px;*/
    }
    #banner-main .owl-theme .item .box-image{
        height: 450px!important;
    }
    #banner-main .owl-theme .item .box-image img{
        height: 100%;
    }
    #banner-main .owl-theme .item .box-image img:not(.img-mobile){
        display: none;
    }
    #banner-main .owl-theme .owl-dots .owl-dot.active span{
        background-color: #151949;
    }
    section#question {
        padding-top: 30px;
        padding-bottom: 25px;
    }
    .box-title .title {
        font-size: 24px;
    }
    section#question .box-title {
        margin-bottom: 25px;
    }
    section#question .list-question .item {
        padding: 30px 20px 20px;
    }
    section#question .list-question .item .content {
        font-size: 13.5px;
    }
    section#question .form-youtube {
        align-items: center;
        padding-top: 15px;
    }
    section#question .form-youtube .box-content-form-youtube .btn-submit-form {
        margin-top: 0;
    }
    #solutions-services .content-solution {
        bottom: 45px;
    }
    #solutions-services .content-solution .box-title{}
    #solutions-services .content-solution .box-title div span.span-1,
    #solutions-services .content-solution .box-title div span.span-3,
    #solutions-services .content-solution .box-title div span.span-4,
    #solutions-services .content-solution .box-title div span.span-5{
        font-size: 22px!important;
    }
    #solutions-services .content-solution .box-title div span.span-2{
        font-size: 18px!important;
    }
    #solutions-services .bg-solutions-services {
        height: 510px;
    }
    .slider-solution {
        margin-top: 46px;
    }
    .slider-solution .item .content .number {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .slider-solution .item .content {
        padding: 10px 20px;
    }
    #benefits .box-tab-benefits .box-title .title {
        font-size: 24px;
        margin-bottom: 15px;
    }
    #benefits {
        padding-top: 25px;
        padding-bottom: 23px;
        margin-top: 25px;
    }
    #benefits .box-tab-benefits .box-title {
        margin-bottom: 14px;
    }
    #benefits .box-tab-benefits .title-res .title {
        font-size: 24px;
    }
    #benefits .box-tab-benefits .carousel-inner .carousel-item .carousel-caption p{
        color:#151949
    }
    #benefits .box-tab-benefits .carousel-inner .carousel-item {
        height: 270px;
    }
    #benefits .box-btn-register .btn {
        height: 40px;
        margin-top: 18px;
    }
    #exclusive {
        padding: 33px 0 20px;
    }
    #exclusive .content-exclusive .box-title .title {
        width: 100%;
        padding: 0 5px;
    }
    #exclusive .content-exclusive .box-title {
        padding: 20px 0;
    }
    #exclusive .box-content p {
        padding: 20px 25px;
        font-size: 12px;
    }
    #form-register {
        padding-top: 35px;
    }
    #form-register .wrap-register .box-title {
        margin-bottom: 20px;
        padding-right: 0;
        text-align: center;
    }
    #form-register .wrap-register .box-title .title {
        margin-bottom: 15px;
    }
    #form-register .wrap-register .wrap-form {
        padding: 20px 40px 40px;
    }
    #form-register .wrap-register .wrap-form .title-form {
        margin-bottom: 30px;
    }
    #form-register .wrap-register .wrap-form .box-submit {
        padding-top: 20px;
    }
    #form-register .box-text-right .box-content h3, #form-register .box-text-right .box-content p {
        font-size: 18px;
    }
    #form-register .box-text-right .img {
        width: 180px;
        right: -20px;
    }
    #review {
        padding-top: 30px;
    }
    #review .box-title {
        margin-bottom: 35px;
    }
    #review .slider-review .item .box-image img{
        width: 155px;
        height: 155px;
    }
    #review .slider-review {
        max-width: 100%;
    }
    #review .slider-review .item .name {
        font-size: 20px;
    }
    #review .slider-review .item .position {
        font-size: 16px;
        margin-bottom: 25px;
    }
    #review .owl-theme .owl-dots {
        margin-top: 10px;
    }
    #fpoly .box-title .text {
        font-size: 24px;
        width: 80%;
        margin: 0 auto;
    }
    #fpoly .swiper .swiper-slide.active {
        transform: scale(2.4);
    }
    #fpoly .swiper .swiper-wrapper {
        padding: 58px 0;
    }
    #fpoly .box-title {
        margin-bottom: 15px;
    }
    #fpoly {
        padding: 30px 0 35px;
    }
    #custommer {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    #custommer .owl-theme .owl-dots{
        display: block;
        margin-top: 30px;
    }
    #custommer .owl-theme .owl-dots .owl-dot span{
        width: 11px;
        height: 11px;
        border: 1px solid #ccc;
        background-color: #FFF;
    }
    #custommer .owl-theme .owl-dots .owl-dot.active span{
        background-color: var(--color-main);
    }
    #form-register .box-text-right .box-content{
        max-width: 210px;
    }
}
@media (max-width: 375px) {
    #form-register .box-text-right .box-content{
        max-width: 150px;
    }
    #form-register .box-text-right .box-content h3 {
        font-size: 16px;
    }
    #form-register .box-text-right .box-content p{
        font-size: 14px;
    }
    #form-register .box-text-right .img {
        width: 150px;
    }
}
