:root {
    --color-main: #f26f24;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    color: #FFF;
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

.owl-theme .owl-nav{
    margin: 0;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; 
    line-height: 1.5;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 1044px;
    padding-left: 10px;
    padding-right: 10px;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
}
[class*="col-"]{
    padding-left: 10px;
    padding-right: 10px;
}
.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}
.btn.btn-color-main{
    border-radius: 5px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    padding: 5px 10px;
    background-color: var(--color-main);
    color: #FFF;
    min-height: 51px;
    font-weight: 700;
}
.btn.btn-color-main:hover{
    background-color: #060531;
}

  
.btn.btn-color-border-main{
    border-radius: 30px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    padding: 10px 23px 8px;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    min-height: 38px;
    letter-spacing: .03em;
    font-weight: 700;
    margin-bottom: 15px;
}
.btn.btn-color-border-main:hover{
    background-color: #d79f55;
    border-color: #d79f55;
    color: #fff;
}
.font-bold{
    font-weight: 700;
}
.font-normal{
    font-weight: 400!important;
}
.bg-dark{
    background-color: rgb(3, 10, 29)!important;
}
.color-dark{
    color: #252525!important;
}
.color-red{
    color: #f00!important;
}
.color-blue{
    color: #0693e3!important;
}
.color-main{
    color: #FF9B1E!important;
}
.title-main{
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
}
.link-more{
    min-width: 119px;
    height: 35px;
    border-radius: 22px;
    background-color: var(--color-main);
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    border-bottom: 2px solid rgba(0,0,0,.05);
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 10%);
}
.link-more i{
    margin-left: 5px;
}
.link-more:hover{
    color: #FFF;
}
.link-more:hover i{
    color: #FFF;
}
.border-radius-10{
    border-radius: 10px;
}

/* hover image  */
.box-image {
    position: relative;
    overflow: hidden;
}
.box-image img{
    width: 100%;
}

/* header  */
header#header{
    background-color: var(--color-main);
    position: relative;
    z-index: 30;
    transition: all .3s;
    padding: 7px 0;
}
header#header.active{
    position: sticky;
    top: 0;
    left: 0;
    padding: 7px 0;
    transition: all .3s;
}
header#header .toggle-menu {
    background: transparent;
    height: 20px;
    position: absolute;
    transition: all .3s;
    width: 24px;
    margin-left: 0;
    left: 20px;

}
header#header .toggle-menu span {
    background: #151949;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after, header#header .toggle-menu:before {
    background: #151949;
    border-radius: 2px;
    content: "";
    height: 2px;
    position: absolute;
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after {
    bottom: 0;
    right: 0;
}
header#header .toggle-menu:before {
    top: 0;
}
header#header .toggle-menu.active span {
    background: transparent;
}
header#header .toggle-menu.active:before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
header#header .toggle-menu.active:after {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
/*  */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    margin: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: unset;
}

header#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header#header .wrap-menu{}
header#header .wrap-menu .box-menu{
    display: flex;
    align-items: center;
}
header#header .wrap-menu li a{
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    padding: 5px 25px;
    transition: all .3s;
}
header#header .wrap-menu li a:hover{
    color: #151949;
    transition: all .3s;
}

/* main */
#banner-main{
    position: relative;
}
#banner-main .owl-carousel .owl-nav button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#banner-main .owl-carousel .owl-nav button::before,
#banner-main .owl-carousel .owl-nav button::after{
    content: " " !important;
    display: block;
    width: 2px;
    height: 32px;
    background-color: #fff;
    transition: all 0 0.3s;
}
#banner-main .owl-carousel .owl-nav button.owl-prev::before{
    transform: translate(-50%, -11px) rotate(38deg);
}
#banner-main .owl-carousel .owl-nav button.owl-prev::after{
    transform: translate(-50%, 13px) rotate(-38deg);
    margin: 0 0 0 -2px;
}
#banner-main .owl-carousel .owl-nav button.owl-next::before{
    transform: translate(-50%, -11px) rotate(-38deg);
}
#banner-main .owl-carousel .owl-nav button.owl-next::after{
    transform: translate(-50%, 13px) rotate(38deg);
    margin: 0 0 0 -2px;
}
#banner-main .owl-carousel .owl-nav button:hover::before,
#banner-main .owl-carousel .owl-nav button:hover::after{
    background-color: #409915;
}
#banner-main .owl-carousel .owl-nav button i{
    font-size: 30px;
}
#banner-main .owl-carousel .owl-nav button.owl-prev{
    left: 10%;
}
#banner-main .owl-carousel .owl-nav button.owl-next{
    right: 10%;
}

#banner-main .owl-theme .owl-dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}
#banner-main .owl-theme .owl-dots .owl-dot span{
    width: 11px;
    height: 11px;
    background: transparent;
    border: 1px solid #fff;
    margin: 0 10px;
}
#banner-main .owl-theme .owl-dots .owl-dot.active span{
    background-color: #FFF;
}
#banner-main .owl-theme .item .box-image img{
    width: 100%;
    height: 100%;
}

.box-title{}
section#question{
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #FFF;
}
.box-title .title{
    font-size: 30px;
    font-weight: 700;
    color: var(--color-main);
    line-height: 1.2;
}
.box-title .title:not(.font-normal){
    text-transform: uppercase;
}

section#question .box-title{
    margin-bottom: 45px;
}

section#question .list-question .item{
    padding: 37px 25px 25px;
    border-radius: 5px;
    height: 100%;
    text-align: center;
}
section#question .list-question .item .box-image{
    margin-bottom: 15px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#question .list-question .item .box-image img{
    width: auto;
    max-width: 100%;
}
section#question .list-question .item .content{
    font-size: 16px;
    color: rgb(255, 254, 254);
    font-weight: 700;
    line-height: 1.438;
}

section#question .list-question [class*="col-"]:nth-child(1) .item{
    background-color: #0054a6;
}
section#question .list-question [class*="col-"]:nth-child(2) .item{
    background-color: var(--color-main);
}
section#question .list-question [class*="col-"]:nth-child(3) .item{
    background-color: #00a651;
}
section#question .list-question [class*="col-"]:nth-child(4) .item{
    background-color: #662d91;
}
section#question .form-youtube{
    align-items: center;
    padding-top: 70px;
}
section#question .form-youtube .box-content-form-youtube .box-title{
    padding-right: 20px;
    width: 85%;
}
section#question .form-youtube .box-content-form-youtube .box-title .title{
    line-height: 1.4;
}
section#question .form-youtube .box-content-form-youtube .btn-submit-form{
    width: 240px;
}
section#question .form-youtube .box-content-form-youtube .btn-submit-form{
    margin-top: 20px;
}

.modal-dialog {
    max-width: 990px;
    width: 100%;
    padding: 0 15px;
}
.modal-content{
    background-color: transparent;
    border: none;
}
.modal-content .close{
    opacity: 1;
    text-shadow: none;
    color: #FFF;
    text-align: right;
}

  /* solutions-services */
  #solutions-services{
    position: relative;
  }
  #solutions-services .bg-solutions-services{
    width: 100%;
    height: 750px;
  }
  #solutions-services .content-solution{
    position: absolute;
    bottom: 55px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  #solutions-services .content-solution .box-title span{
      color: #FFF;
      line-height: 1.3;
    }
    .slider-solution{
        margin-top: 70px;
    }
    .slider-solution .item{
        height: 100%;
        background: #fff;
    }
    .slider-solution .item .content{
        padding: 15px 25px;
    }
    .slider-solution .item .box-image img{
        transition: all .3s;
    }
    .slider-solution .item:hover .box-image img{
        transform: scale(1.1);
        transition: all .3s;
    }
    .slider-solution .item .content .number{
        color: rgb(149, 149, 149);
        font-size: 24px;
        line-height: 1;
        margin-bottom: 15px;
        font-weight: 700;
    }
    .slider-solution .item .content .title{
        color: rgb(37, 37, 37);
        font-size: 14px;
        font-weight: 700;
    }
    .slider-solution.owl-carousel .owl-stage{
        display: flex;
    }
   
    /*  benefits*/
      
#benefits{
    background: url(../images/f7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 23px;
}
#benefits .box-tab-benefits{}
#benefits .box-tab-benefits .box-title{
    color: #fff;
    margin-bottom: 40px;
}
#benefits .box-tab-benefits .box-title .title{
    font-size: 29px;
    color: #FFF;
    margin-bottom: 20px;
}
#benefits .box-tab-benefits .box-title .text{
    font-weight: 700;
    font-size: 14px;
}
#benefits .box-tab-benefits .carousel-inner .carousel-item{
    width: 100%;
    height: 335px;
    background-color: #FFF;
    color: #000;
    border-radius: 5px;
    overflow-y: scroll;
}
#benefits .box-tab-benefits .carousel-inner .carousel-item::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  #benefits .box-tab-benefits .carousel-inner .carousel-item::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  #benefits .box-tab-benefits .carousel-inner .carousel-item::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  #benefits .box-tab-benefits .carousel-inner .carousel-item::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
#benefits .box-tab-benefits .carousel-inner .carousel-item .carousel-caption{
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    color: #000;

}
#benefits .box-tab-benefits .carousel-inner .carousel-item .carousel-caption *{
    font-size: 18px;
}
#benefits .box-tab-benefits .carousel-indicators{
    position: relative;
    left: 0;
    right: auto;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 23px;
    width: 100%;
}
#benefits .box-tab-benefits .carousel-indicators li{
    text-indent: unset;
    flex: 0 0 calc((100% - 20px) / 3);
    max-width: calc((100% - 20px) / 3);
    height: auto;
    opacity: 1;
    margin: 12px 0;
    border: 0;
    text-align: center;
    background-color: var(--color-main);
    min-height: 40px;
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#benefits .box-tab-benefits .carousel-indicators li:hover,
#benefits .box-tab-benefits .carousel-indicators li.active{
    background: #060531;
}
#benefits .box-btn-register{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 12px;
}
#benefits .box-btn-register .title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 40px;
    color: #FFF;
}
#benefits .box-btn-register span{
    color: #FFF;
    display: block;
}
#benefits .box-btn-register .btn{
    width: 240px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    height: 50px;
    margin-top: 90px;
}
  
/* exclusive */
#exclusive{
    padding: 60px 0 80px;
    background: #FFF;
}
#exclusive .content-exclusive{
    background-color: #151949;
}
#exclusive .content-exclusive .box-title{
    background-color: #151949;
    padding: 50px 0;
}
#exclusive .content-exclusive .box-title .title{
    color: #FFF;
    width: 65%;
    margin: 0 auto;
}
#exclusive .owl-theme.slider-exclusive{
    position: relative;
}
#exclusive .owl-theme .owl-nav [class*=owl-]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#exclusive .owl-theme .owl-nav .owl-prev{
    left: 20px;
}
#exclusive .owl-theme .owl-nav .owl-next{
    right: 20px;
}
#exclusive .owl-theme .owl-dots{display: none;}
#exclusive .owl-theme .box-image img{
    width: 100%;
    height: 100%;
}

#exclusive .box-content p{
    color: #FFF;
    text-align: center;
    font-weight: 700;
    padding: 39.5px 0;
    font-size: 14px;
}
#form-register{
    background-color: var(--color-main);
    padding-top: 80px;
}
#form-register .wrap-register .gform_footer{
    text-align: center;
}
#form-register .wrap-register .gform_footer input[type="submit"]{
    margin: 0;
    border-radius: 4px;
}
#form-register .wrap-register .gform_footer input[type="submit"]:hover{
    background-color: #151949;
    border-color: #151949;
}
#form-register .wrap-register .box-title{
    margin-bottom: 25px;
    padding-right: 20px;
}
#form-register .wrap-register .box-title .title{
    color: #FFF;
    margin-bottom: 20px;
}
#form-register .wrap-register .box-title .text{
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
}

#form-register .wrap-register .wrap-form{
    background-color: #FFF;
    padding: 25px 45px 50px;
    border-radius: 5px;
    box-shadow: 0px 10px 18px 0px rgba(199, 199, 199, 0.32);
    margin-bottom: -50px;
}
#form-register .wrap-register .wrap-form .form-group{
    margin-bottom: 30px;
}
#form-register .wrap-register .wrap-form .form-control{
    height: 35px;
    padding-left: 15px;
    font-size: 12px;
    border-radius: unset;
    
}
#form-register .wrap-register .wrap-form .form-control::placeholder{
    color: rgb(137, 137, 137);
}
#form-register .wrap-register .wrap-form .title-form{
    font-size: 24px;
    color: rgb(54, 54, 54);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 35px;
    text-align: center;
}

#form-register .wrap-register .wrap-form .btn-submit{
    width: 240px;
    height: 50px;
    margin: 20px auto 0;
}
#form-register .box-text-right{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#form-register .box-text-right .img{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
}
#form-register .box-text-right .box-content{
    border-radius: 5px;
    background-color: rgb(21, 25, 73);
    padding: 10px 25px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
    margin-left: 40px;
}
#form-register .box-text-right .box-content h3,
#form-register .box-text-right .box-content p{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
}
#form-register .box-text-right .box-content h3{
    text-transform: uppercase;
}
#form-register .box-text-right .box-content p{
    color: var(--color-main);
    
}

/* review */
#review{
    padding-top: 120px;
}
#review .box-title{
    margin-bottom: 60px;
}
#review .slider-review{
    max-width: 65%;
    width: 100%;
    margin:  0 auto;
}
#review .slider-review .item{
    text-align: center;
}
#review .slider-review .item .box-image{
    margin-bottom: 10px;
}
#review .slider-review .item .box-image::before{
    content: "";
    max-width: 353px;
    width: 100%;
    height: 64px;
    border: 2px dashed rgb(229, 164, 36);
    border-radius: 14px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#review .slider-review .item .box-image img{
    width: 248px;
    height: 248px;
    border-radius: 100%;
    border: 4px solid var(--color-main);
    margin:  0 auto;
    position: relative;
    z-index: 2;
}
#review .slider-review .item .name{
    color: var(--color-main);
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}
#review .slider-review .item .position{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
}
#review .slider-review .item .content{
    font-size: 16px;
    font-weight: 500;
    color: #8b8b8b;
}

#review .owl-theme .owl-dots{
    margin-top: 20px;
    margin-bottom: 23px;
}
#review .owl-theme .owl-dots .owl-dot span{
    border-width: 1px;
    border-color: rgb(199, 199, 199);
    border-style: solid;
    border-radius: 50%;
    background-color: transparent;
    width: 11px;
    height: 11px;
    
}
#review .owl-theme .owl-dots .owl-dot.active span{
    background-color: rgb(242, 111, 36);

}

#fpoly .swiper {
}
#fpoly .swiper .swiper-wrapper {
    align-items: center;
}
#fpoly .swiper .swiper-slide {
    border-radius: 5px;
    background-color: #000;
    transition: 0.2s;
}
#fpoly .swiper .swiper-slide.active {
    transform: scale(1.3);
    z-index: 2;
}
#fpoly .pagination {
    margin-left: 8px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    z-index: 100;
}
#fpoly .pagination span {
    font-size: 0;
    opacity: 1;
    margin: 0px 6px !important;
    border: 1px solid #fff;
    width: 11px;
    height: 11px;
    background: transparent;
}
#fpoly .pagination span.swiper-pagination-bullet-active {
    background-color: var(--color-main) ;
}
  
#fpoly{
    background-color: #252525;
    padding: 55px 0 60px;
}
#fpoly .box-title{
    margin-bottom: 65px;
    text-align: center;
}
#fpoly .box-title .text{
    font-size: 30px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 300;
}
#fpoly .swiper .swiper-wrapper{
    padding: 30px 0;
}
#fpoly .swiper .swiper-wrapper .swiper-slide{
    position: relative;
}
#fpoly .swiper .swiper-wrapper .swiper-slide::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 60%);
    z-index: 1;
    transition: opacity .3s;
}
#fpoly .swiper .swiper-wrapper .swiper-slide.active::before{
    opacity: 0;
    transition: opacity .3s;
}
#fpoly .swiper .swiper-wrapper .swiper-slide .box-image{
    height: 100%;
}
#fpoly .swiper .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
}


#custommer{
    background: #FFF;
    padding-top: 70px;
    padding-bottom: 150px;
}
#custommer .box-title{
    margin-bottom: 45px;
}
#custommer .row [class*="col-"]{
    padding-bottom: 20px;
}

#custommer .box-image img{
    height: 100%;
    width: 100%;
    transition: all .3s;
}
#custommer .box-image:hover img{
    transform: scale(1.15);
    transition: all .3s;
}




/* footer */
.footer-widgets {
	background-color: #192041;
	color: #fff;
	position: relative;
	border-top: 10px solid #f7941d;
}

.footer-widgets > .container {
	padding-top: 50px;
	padding-bottom: 40px;
	overflow: hidden;
	font-size: 13px;
}

.footer-widgets .widget-title {
	color: #fff;
}

.site-footer {
	background: #fff;
}

.site-footer .menu {
	text-align: center;
	padding: 19px 0 18px;
	border-bottom: 1px solid #313131;
	margin: 0;
}

.site-footer .menu li {
	padding: 0 18px;
}

.site-footer .menu li:hover a:before,
.site-footer .menu li:hover span {
	color: #a22531;
	transition: all .3s;
}

.site-footer .menu a {
	font-weight: bold;
	font-size: 14px;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #272f54;
}

.site-footer .menu a:hover {
	color: #a22531;
}

.site-footer .menu a:before {
	margin-right: 10px;
	color: #272f54;
	position: relative;
	top: 1px;
}

.site-footer .footer-content {
	max-width: 1170px;
	margin: 0 auto;
}

.site-footer .jetpack-social-navigation .screen-reader-text {
	height: auto;
	width: auto;
	position: relative;
}

.site-footer .site-info {
	text-align: center;
	padding: 20px 0;
	color: #272f54;
	font-size: 13px;
	font-size: 1.3rem;
}

.site-footer .site-info a {
	color: #a22531;
	font-style: italic;
	line-height: 2.77;
	text-align: left;
	font-size: 13px;
	font-size: 1.3rem;
}

.site-footer .site-info a:hover {
	color: #131313;
}



.title-footer{
    color: var(--color-main);
    margin-bottom: 10px; 
    font-size: 20px;
}

footer#footer .footer-xs{
    text-decoration: underline; 
    padding-top: 10px;
    margin-bottom: 5px;
}
footer#footer i{
    color: var(--color-main);
    margin-right: 3px;
}
footer#footer .textwidget p{
    margin-bottom: 5px;
}

#custommer .owl-theme .owl-dots, #custommer .owl-theme .owl-nav,
#solutions-services .owl-theme .owl-dots{
    display: none;
}
.gform_body.gform-body label {
    display: none !important;
}

.ginput_container input, .ginput_container select {
    width: 100% !important;
    font-size: 15px !important;
    height: 48px;
}

ginput_container input:hover {
    font-size: 15px !important;
}

input#gform_submit_button_28 {
    background: orangered;
    font-size: 16px;
    font-weight: bold;
}











  
